{{ 'component-card.css' | asset_url | stylesheet_tag }}

{% style %}
       /* Custom expand flex card ========================================= */
    #expand-flex-card {
      padding: 0px;
    }
    #expand-flex-card .credit {
      position: absolute;
      bottom: 20px;
      left: 20px;
      color: #000;
    }
    #expand-flex-card .options {
      display: flex;
      flex-direction: row;
      align-items: stretch;
      overflow: hidden;
      min-width: 100%;
      max-width: 100%;
      width: calc(100% - 100px);
      height: 70vh;
    }
    @media screen and (max-width: 718px) {
      a.option.active {
          background-position: top center !important;
      }
    }
  /*   @media screen and (max-width: 718px) {
      #expand-flex-card .options {
        min-width: 600px;
      }
      #expand-flex-card .options .option:nth-child(5) {
        display: none;
      }
    }
    @media screen and (max-width: 638px) {
      #expand-flex-card .options {
        min-width: 440px;
      }
      #expand-flex-card .options .option:nth-child(4) {
        display: none;
      }
    }
    @media screen and (max-width: 558px) {
      #expand-flex-card .options {
        min-width: 360px;
      }
      #expand-flex-card .options .option:nth-child(3) {
        display: none;
      }
    }
    @media screen and (max-width: 478px) {
      #expand-flex-card .options {
        min-width: 280px;
      }
      #expand-flex-card .options .option:nth-child(2) {
        display: none;
      }
    } */
    #expand-flex-card .options .option {
      display: flex;
      justify-content: flex-start;
      flex-direction: row;
      align-items: flex-end;
      position: relative;
      overflow: hidden;
      min-width: 16%;
      margin: 0px;
      background: var(--optionBackground, var(--defaultBackground, #e6e9ed));
      background-size: auto 120%;
      background-position: center;
      cursor: pointer;
      transition: 0.9s cubic-bezier(0.05, 0.61, 0.41, 0.95);
    }
    #expand-flex-card .options .option:nth-child(1) {
      --defaultBackground: #ed5565;
    }
    #expand-flex-card .options .option:nth-child(2) {
      --defaultBackground: #fc6e51;
    }
    #expand-flex-card .options .option:nth-child(3) {
      --defaultBackground: #ffce54;
    }
    #expand-flex-carddy .options .option:nth-child(4) {
      --defaultBackground: #2ecc71;
    }
    #expand-flex-card .options .option:nth-child(5) {
      --defaultBackground: #5d9cec;
    }
    #expand-flex-card .options .option:nth-child(6) {
      --defaultBackground: #ac92ec;
    }
    #expand-flex-card .options .option.active {
      display: flex;
      justify-content: flex-start;
      flex-direction: row;
      align-items: flex-end;
      flex-grow: 10000;
      transform: scale(1);
      max-width: 100%;
      margin: 0px;
      border-radius: 0px;
      height: 70vh;
      background-size: auto 100%;
    }
    #expand-flex-card .options .option.active .shadow {
      background-color: #ffffffe0;
    }
    #expand-flex-card .options .option:not(.active) {
      flex-grow: 1;
      border-radius: 0px;
      -webkit-border-radius: 0px;
      -moz-border-radius: 0px;
      -ms-border-radius: 0px;
      -o-border-radius: 0px;
    }
    #expand-flex-card .options .option:not(.active) .shadow {
      bottom: -40px;
      background-color: #ffffff00;
      transition: 0.9s cubic-bezier(0.05, 0.61, 0.41, 0.95);
    }
    #expand-flex-card .options .option .shadow {
      display: flex;
      align-items: flex-end;
      justify-content: center;
      width: 80px;
      height: 100%;
      transition: 0.9s cubic-bezier(0.05, 0.61, 0.41, 0.95);
    }
    @media (max-width: 749px) {
      #expand-flex-card .options {
          display: flex;
          flex-direction: column;
          align-items: stretch;
          flex-wrap: wrap;
      }
    }

    #expand-flex-card .options .option .title {
      color: #fff;
      font-family: "Oswald", sans-serif !important;
      transition: 0.9s;
      font-size: 24px;
      font-weight: bold;
      writing-mode: tb-rl;
      transform: rotate(180deg);
      overflow: hidden;
    }

    #expand-flex-card .options .option.active .title {
      color: #000000;
      /*   left: -2%; */
    }
{% endstyle %}

<div class="color-{{ section.settings.color_scheme }} gradient">
  <div class="section-{{ section.id }}-padding">
    {% comment %}
      {{ section.settings.custom_liquid }}
    {% endcomment %}
    <section id="expand-flex-card">
      <div class="options">
        {%- for block in section.blocks -%}
          <a
            class="option"
            href="{{ block.settings.collection.url }}"
            style="--optionBackground:url({{ block.settings.collection.featured_image | image_url }}); text-decoration:none; background-size: cover; background-repeat: no-repeat;"
          >
            <div class="shadow">
              <h2 class="title">
                {%- if block.settings.collection.title != blank -%}
                  {{- block.settings.collection.title | escape -}}
                {%- endif -%}
              </h2>
            </div>
          </a>
        {%- endfor -%}
      </div>
    </section>
  </div>
</div>

{% schema %}
{
  "name": "sporty-expan-flex",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "background-1"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 40
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 52
    }
  ],
  "max_blocks": 6,
  "blocks": [
    {
      "type": "featured_collection",
      "name": "t:sections.collection-list.blocks.featured_collection.name",
      "settings": [
        {
          "type": "collection",
          "id": "collection",
          "label": "t:sections.collection-list.blocks.featured_collection.settings.collection.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "sporty-expan-flex",
      "blocks": [
        {
          "type": "featured_collection"
        },
        {
          "type": "featured_collection"
        },
        {
          "type": "featured_collection"
        }
      ]
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
